* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #9ca3af;
  color: #fff;
}

/* HEADER */
.header {
  background-color: #374151;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
}

/* FEEDBACK FORM */
.feedback-form-container {
  display: flex;
  justify-content: center;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.btn-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.btn-submit {
  border: none;
  padding: 2px 7px;
  border-radius: 10px;
}

/* FEEDBACK LIST */

.stats {
  display: flex;
  justify-content: center;
  gap: 15rem;
  margin: 20px 0;
}

/* Card */
.card {
  width: 30%;
  background-color: #374151;
  padding: 10px 20px 20px 20px;
  margin: 10px 0;
  border-radius: 10px;
}

.feedback-list-card {
  background-color: #374151;
  width: 80%;
  height: 120px;
  border-radius: 10px;
  padding: 20px;
}

/* Rating */
.ratingContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.ratingList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* 
FEEDBACK LIST */
.feedback-list-container {
  padding: 0 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 40px;
}

.header-feedback-card {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
}

.edit-delete-icons {
  display: flex;
  gap: 10px;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

.no-feedback-text {
  text-align: center;
  margin-top: 40px;
}
